<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard/style.css') }}">
        <script src="{{ url_for('static', filename='Dashboard/script.js') }}"></script>
    </head>
    <body>
        <form action="/Dashboard" method="POST">
            <h3>Add New Task</h3>
            <input type="text" name="subject" placeholder="Subject">
            <input type="text" name="TimeRange" placeholder="Time Range">
            <input type="text" name="description" placeholder="Description">
            <input type="submit" value="Add Task">
        </form>
        <br>
        <p>
            {{ Current_List }}
        </p>
    </body>
</html>