<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard/style.css') }}">
        <script src="{{ url_for('static', filename='Dashboard/script.js') }}"></script>
    </head>
    <body>
        <form action="/Dashboard" method="POST">
            <h3>Add New Task</h3>
            <input type="text" name="subject" placeholder="Subject">
            <input type="text" name="TimeRange" placeholder="Time Range">
            <input type="text" name="description" placeholder="Description">
            <input type="submit" value="Add Task">
        </form>
        <br>
        <ul>
            <li>
                <strong>taskID</strong>
                <strong>Subject</strong>
                <span class="time">Period</span>
                <span class="desc">Description</span>
                <span class="status">Is Done</span>
                <span>Delete</span>
            </li>
            {% for id, task in Current_List.items() %}
                <li>
                    <strong>{{ task.taskID }}</strong>
                    <strong>{{ task.Subject }}</strong>
                    <span class="time">{{ task.Time_Range }}</span>
                    <span class="desc">{{ task.Description }}</span>
                    <span class="status"><input Type="checkbox"></span>
                    
                    <form action="/delete/{{ id }}" method="POST">
                        <input type="submit" value="🗑 Delete">
                    </form>
                </li>
            {% else %}
                <li><span class="empty">Empty List</span></li>
            {% endfor %}
        </ul>
    </body>
</html>